{% extends 'index.html' %}

{% block content %}
            <div class="row justify-content-center text-center">
                <div class="col-12"> 
                    <h1 class="fs-1 text-light"> THE WALL </h1>
                </div>
            </div>
            <!-- post create form-->
            <div class="row justify-content-center text-center">
                <div class="col-8 my-5 text-light text-center">
                    <form action="/publish" method="POST">
                    {% csrf_token %}
                        <div class="mb-3 text-start">
                            <label for="text-area" class="form-label">What are you thinking {{user.first_name}}</label>
                            <textarea class="form-control" name="publish" value="" id="text-area" rows="3"></textarea>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-outline-success ">Do it!</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center text-start">
                <div class="col-12"> 
                    <h1 class="fs-2 text-light"> Last Publish </h1>
                </div>
            </div>
            <br>
            <div class="row justify-content-center text-start" data-bs-spy="scroll" style="height: 50rem; overflow-y: scroll" id="actions">
                <div class="col-12"> 
                    <!-- publishers -->
                    {% for publish in publishers %}
                    <div class="card mb-3" style="max-width: 100%">
                        <div class="row g-0 align-items-center">
                            <div class="col-md-3 p-3">
                                <img src="{{publish.author.avatar}}" class="img-fluid rounded-start" alt="..." style="width:10rem; height:10rem;">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">{{publish.author.first_name}} {{publish.author.last_name}} </h5>
                                    <p class="card-text" id="publish-{{publish.id}}">{{publish.publish}}</p>
                                    <p class="card-text"><small class="text-muted">Last updated {{publish.updated_at}}</small></p>
                                </div>
                            </div>
                            <div class="card-footer text-end bg-light">
                                <a href="#" data-id="{{publish.id}}" data-action="/editpublish/{{publish.id}}" title="Edit" class="lnk-editp btn btn-outline-success" data-title="editp" data-bs-toggle="modal" data-bs-target="#confirm-publish">Edit</a>
                                <a href="#" data-href="/deletepublish/{{publish.id}}" title="Delete" class="lnk-del btn btn-outline-danger" data-title="delete" data-bs-toggle="modal" data-bs-target="#confirm-delete">Delete</a>
                            </div>
                            <div class="col-6"></div>
                            <!-- comments done -->
                            <div class="card-footer text-start col-6 m-0 p-0">
                                {% for comment in publish.comments.all %}
                                <div class="row g-0 justify-content-end align-items-center">
                                    <div class="col-md-3 p-3">
                                        <img src="{{comment.author.avatar}}" class="img-fluid rounded-start" alt="..." style="width:5rem; height:5rem;">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <h5 class="card-title">{{comment.author.first_name}} {{comment.author.last_name}} </h5>
                                            <p class="card-text" id="comment-{{comment.id}}">{{comment.comment}}</p>
                                            <p class="card-text"><small class="text-muted">Last updated {{comment.updated_at}}</small></p>
                                        </div>
                                    </div>
                                    <div class="card-footer text-end bg-light">
                                        <a href="#" data-id="{{comment.id}}" data-action="/editcomment/{{comment.id}}" title="Edit" class="lnk-edit btn btn-outline-success" data-title="edit" data-bs-toggle="modal" data-bs-target="#confirm-edit">Edit</a>
                                        <a href="#" data-href="/deletecomment/{{comment.id}}" title="Delete" class="lnk-del btn btn-outline-danger" data-title="delete" data-bs-toggle="modal" data-bs-target="#confirm-delete">Delete</a>
                                    </div>
                                    <hr>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col-6 bg-transparent"></div>
                            <!-- new comment -->
                            <div class="card-body text-start col-6">
                                <div class="row g-0 align-items-center justify-content-center">
                                    <div class="col-md-3 p-3">
                                        <img src="{{user.avatar}}" class="img-fluid rounded-start" alt="..." style="width:5rem; height:5rem;">
                                    </div>
                                    <div class="col-md-9 align-items-center">
                                        <form action="/comment" method="POST">
                                        {% csrf_token %}
                                            <div class="text-end col-12">
                                                <input hidden name="publishid" value="{{publish.id}}">
                                                <textarea class="form-control d-inline-flex" name="comment" value="" placeholder="What do you thing about it {{user.first_name}}" id="text-area" rows="1"></textarea>
                                                <button type="submit" class="btn btn-outline-success d-inline-flex">Do it!</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}